This is the new page.

<div>
    <p>
        Turns left: <%= @tally.turns_left %>
    </p>
    <p>
        Letters used: <%= @tally.used |> Enum.join(", ") %>
    </p>
    <p>
        Words so far: <%= @tally.letters |> Enum.join(" ") %>
    </p>
</div>